[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "==0.91.0"
uvicorn = "==0.20.0"
polars = "==0.16.4"
sqlmodel = "==0.0.8"
alembic = "==1.9.4"
asyncpg = "==0.27.0"

[dev-packages]
black = "*"

[requires]
python_version = "3.10"
